.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    position: absolute;
    margin: auto;
    bottom: 25px;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    background: hsl(0, 0%, 8%);
}

/* Small screen */
@media (max-width: 460px) {
    .box {
        max-width: 90%;
        width: 75%;
    }
}

/* large screen */
@media (min-width: 461px) {
    .box {
        background: hsl(0, 0%, 12%);
        max-width: 380px;
        width: 100%;
    }

    .buttons {
        max-width: 95%;
    }
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: hsl(0, 0%, 12%);
    padding: 40px 25px 25px 25px;
    border-radius: 10px;
}

.photo {
    background: black;
    background-image: url("https://assets.codepen.io/7326413/joel.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
    border-radius: 50%;
}

.name {
    font-weight: 500;
    margin: auto;
    color: hsl(0, 0%, 100%);
    font-family: Inter;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 30px;
}

.loc {
    font-weight: 600;
    margin: auto;
    color: hsl(75, 94%, 57%);
    font-family: Inter;
    font-size: 0.9rem;
    text-align: center;
    padding-top: 10px;
}

.headline {
    font-weight: 500;
    margin: auto;
    color: hsl(0, 0%, 100%);
    font-family: Inter;
    font-size: 0.9rem;
    text-align: center;
    padding-top: 30px;
}

.buttons {
    margin: auto;
    margin-top: 30px;
}

.button {
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-family: Inter;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 16px;
    padding: 14px;
    border-radius: 6px;
}

.button:hover {
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}